@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&family=Doto:wght@100..900&family=Inconsolata:wght@200..900&family=Jaro:opsz@6..72&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');






body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    background: #69C8F4;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 960px;
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Comfortaa", sans-serif;
  }

  main h1 {
    font-size: 45px;
    position: absolute;
    top: 0;
    
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -250px;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 350px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .content div {
    font-size: 25px;
    font-weight: 900;
  }

  #app input {
    width: 350px;
    height: 30px;
    margin-top: 20px;
    padding: 0 20px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 100px;
    border: 5px solid rgba(255, 255, 255, 0.29);
  }

  #create-vote button, #vote button {
    width: 200px;
    height: 60px;
    border-radius: 50%;
    background: none;
    border: none;
    margin-top: 50px;
  }

  #vote button {
    width: 400px;
  }

  #create-vote button a {
    margin-top: -4px;
  }

  #vote-code {
    user-select: all;
    width: 400px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: -20px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  button.home, #button-home {
    position: absolute;
    width: 440px;
    height: 30px;
    top: -45px;
    left: 0px;
}




















































  .btn-6 {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #8f44fd;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  
  .btn-6 .btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 28px;
    text-decoration: none;
    width: 100%;
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-text);
    background: black;
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-6 .btn-content:hover,
  .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-6 .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-6 .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .btn-6 .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 2px;
    scale: 0.8;
  }
  
  /* SVG */
  .btn-6 #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .btn-6 #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-6 .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-6 .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-6 .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }