@media screen and (max-width: 799px) {
    :root {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    body {
        text-align: center;
        width: 100%;
        max-width: 799px;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    main {
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .content {
        width: 80vw;
    }

    #app {
        width: 80vw;
    }

    #app button.home, #button-home {
        width: 90vw;
    }

    #app input {
        width: 65vw;
    }

    #vote-code {
        width: 80vw;
    }

}